<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Budgets</h1>

    <h2>Saved budgets:</h2>
    <ul>
    {% if budgets %}
        {% for i in budgets %}
            <li>£{{ i.value }} (in a month) | £{{ i.yearlyValue }} (in a year) | Remaining value to be spent (in this month): £{{ i.remainingValueMonth }} | Remaining value to be spent (in this year): £{{ i.remainingValueYear }} | {{ i.category }} | {{ i.startDate}}</li>
        {% endfor %}
    {% else %}
        <li>No budgets added yet.</li>
    {% endif %}
    </ul>

    <h2>Enter new budget:</h2>
    {% if message %}
        <em><strong><p>{{message}}</p></strong></em>
    {% endif %}
    <form action="{% url 'finance:addBudget' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="value">Value (in a month): £</label>
            <input type="text" id="value" name="value"><br>

            <p>Category:</p>
            <input type="radio" id="Entertainment" name="category" value="Entertainment">
            <label for="Entertainment">Entertainment</label><br>

            <input type="radio" id="Food and Drink" name="category" value="Food and Drink">
            <label for="Food and Drink">Food and Drink</label><br>

            <input type="radio" id="Travel" name="category" value="Travel">
            <label for="Travel">Travel</label><br><br>

            <label for="startDate">Start date: </label>
            <input type="date" id="startDate" name="startDate" value=date><br><br>

            <input type="submit" value="Add budget">
        </fieldset>
    </form>
</body>
</html>