{% extends "dashboard/base.html" %}

{% block title %}Income{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'finance/income-style.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'finance/income-script.js' %}"></script>
{% endblock %}

{% block content %}
    <h2>Saved income:</h2>
    <ul class="income-cards-group">
    {% if income %}
        {% for i in income %}
            <li class="income-card">
                <div class="income-card-info">
                    <div><strong>Value</strong></div>
                    <div><strong>Source</strong></div>
                    <div><strong>Frequency</strong></div> 
                    <div><strong>Start date</strong></div> 
                    <div><strong>Date added</strong></div> 
                    <div>£{{ i.value }}</div>                   
                    <div>{{ i.source }}</div>                 
                    <div>{{ i.frequency }}</div>
                    <div>{{ i.startDate }}</div>
                    <div>{{ i.addDate }}</div>
                </div>
            </li>
        {% endfor %}
    {% else %}
        <li>No income added yet.</li>
    {% endif %}
    </ul>

    <h2>Enter new income:</h2>
    {% if message %}
        <em><strong><p>{{message}}</p></strong></em>
    {% endif %}
    <form action="{% url 'finance:addIncome' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="value">Value: £</label>
            <input type="text" id="value" name="value"><br><br>


            <label for="source">Source: </label>
            <input type="text" id="source" name="source"><br>


            <p>Frequency:</p>
            <input type="radio" id="one-off" name="frequency" value="One-off">
            <label for="one-off">One-off</label><br>

            <input type="radio" id="monthly" name="frequency" value="Monthly">
            <label for="monthly">Monthly</label><br>

            <input type="radio" id="yearly" name="frequency" value="Yearly">
            <label for="yearly">Yearly</label><br><br>


            <label for="startDate">Start date: </label>
            <input type="date" id="startDate" name="startDate" value=date><br><br>

            <input type="submit" value="Add income">
        </fieldset>
    </form>
{% endblock %}