<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'finance/income-style.css' %}">
    <script src="{% static 'finance/income-script.js' %}"></script>
</head>
<body>
    <div class="header">
        <ul class="header-left-side">
            <li>
                <button id="open-sidebar">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <rect y="3" width="20" height="2" fill="#fff"/>
                        <rect y="9" width="20" height="2" fill="#fff"/>
                        <rect y="15" width="20" height="2" fill="#fff"/>
                    </svg>
                </button>
                <div id="sidebar" class="sidebar">
                    <ul class="sidebar-list">
                        <li><a href="javascript:void(0)" id="close-sidebar">&times;</a></li>
                        <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'finance:income' %}">Income</a></li>
                        <li><a href="{% url 'finance:expenses' %}">Expenses</a></li>
                        <li><a href="{% url 'finance:budgets' %}">Budgets</a></li>
                    </ul>
                </div>
            </li>
            <li>Finance app</li>
            <li>•</li>
            <li>Income</li>
        </ul>
        <ul class="header-right-side">
            <li>
                [User]
            </li>
            <li>
                <button class="header-log-out">Log out</button>
            </li>
        </ul>
    </div>

    <h2>Saved income:</h2>
    <ul>
    {% if income %}
        {% for i in income %}
            <li>£{{ i.value }} | {{ i.source }} | {{ i.frequency }} | {{ i.startDate}}</li>
        {% endfor %}
    {% else %}
        <li>No income added yet.</li>
    {% endif %}
    </ul>

    <h2>Enter new income:</h2>
    {% if message %}
        <em><strong><p>{{message}}</p></strong></em>
    {% endif %}
    <form action="{% url 'finance:addIncome' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="value">Value: £</label>
            <input type="text" id="value" name="value"><br><br>


            <label for="source">Source: </label>
            <input type="text" id="source" name="source"><br>


            <p>Frequency:</p>
            <input type="radio" id="one-off" name="frequency" value="One-off">
            <label for="one-off">One-off</label><br>

            <input type="radio" id="monthly" name="frequency" value="Monthly">
            <label for="monthly">Monthly</label><br>

            <input type="radio" id="yearly" name="frequency" value="Yearly">
            <label for="yearly">Yearly</label><br><br>


            <label for="startDate">Start date: </label>
            <input type="date" id="startDate" name="startDate" value=date><br><br>

            <input type="submit" value="Add income">
        </fieldset>
    </form>
</body>
</html>