<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Income</h1>

    <h2>Saved income:</h2>
    <ul>
    {% if income %}
        {% for i in income %}
            <li>£{{ i.value }} | {{ i.source }} | {{ i.frequency }} | {{ i.startDate}}</li>
        {% endfor %}
    {% else %}
        <li>No income added yet.</li>
    {% endif %}
    </ul>

    <h2>Enter new income:</h2>
    {% if message %}
        <em><strong><p>{{message}}</p></strong></em>
    {% endif %}
    <form action="{% url 'finance:addIncome' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="value">Value: £</label>
            <input type="text" id="value" name="value"><br><br>


            <label for="source">Source: </label>
            <input type="text" id="source" name="source"><br>


            <p>Frequency:</p>
            <input type="radio" id="one-off" name="frequency" value="One-off">
            <label for="one-off">One-off</label><br>

            <input type="radio" id="monthly" name="frequency" value="Monthly">
            <label for="monthly">Monthly</label><br>

            <input type="radio" id="yearly" name="frequency" value="Yearly">
            <label for="yearly">Yearly</label><br><br>


            <label for="startDate">Start date: </label>
            <input type="date" id="startDate" name="startDate" value=date><br><br>

            <input type="submit" value="Add income">
        </fieldset>
    </form>
</body>
</html>