<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>

    {% if user %}
        <h2>Welcome, {{ user.user_username }}.</h2>
    {% else %}
        <h2>Welcome.</h2>
    {% endif %}

    <ul>
        <li><a href="{% url 'finance:income' %}">Income</a></li>
        <li><a href="">Budgets and expenses</a>
        <li><a href="">Reports</a></li>
    </ul>
</body>
</html>