<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>

    {% if user %}
        <h2>Welcome, {{ user.user_username }}.</h2>
    {% else %}
        <h2>Welcome.</h2>
    {% endif %}

    <h3>For the month of {{ current_month }}:</h3>
    <h4>Total income: £{{ current_month_income_total }}</h4>
    <h4>Total expenses: £ {{ current_month_expenses_total }}</h4>
    <h4>Net income: £ {{ current_month_net_income }}</h4>

    <h3>For the year of {{ current_year }}:</h3>
    <h4>Total income: £{{ current_year_income_total }}</h4>
    <h4>Total expenses: £ {{ current_year_expenses_total }}</h4>
    <h4>Net income: £ {{ current_year_net_income }}</h4>

    <ul>
        <li><a href="{% url 'finance:income' %}">Income</a></li>
        <li><a href="{% url 'finance:expenses' %}">Expenses</a></li>
        <li><a href="{% url 'finance:budgets' %}">Budgets</a></li>
        <li><a href="">Reports</a></li>
    </ul>
</body>
</html>