{% extends "finance/finance-base.html" %}

{% block title %}Reports{% endblock %}

{% block header-title %}Reports{% endblock %}

{% block saved-label %}Past reports:{% endblock %}

{% block presence-check-and-list %}
    {% if reports %}
        {% for i in reports %}
            <li class="report">
                <div class="report-link">                         
                </div>
            </li>
        {% endfor %}
    {% else %}
        <li>No reports generated yet.</li>
    {% endif %}
{% endblock %}

{% block enter-label %}Generate report:{% endblock %}