.saved-income-label, .enter-income-label {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #e5e7eb;
    color: black;
}

.income-cards-section {
    margin: 10px;
}

.income-cards-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.income-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 200px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #3deb7a;
}

.income-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.income-card-icon {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
}

.income-card-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f9faf8;
}

.income-form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.form-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    gap: 20px;
    padding: 20px;
    background-color: #e5e7eb;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-labels-and-answers {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.form-answers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}