.income-cards-group {
    display: flex;
    flex-direction: column;
}

.income-card {
    display: flex;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #38f645;
}

.income-card-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 8px 16px;
    text-align: center;
    color: #000000;
}