{% extends "dashboard/navbar-and-sidebar-base.html" %}

{% block title %}Register{% endblock %}

{% block header %}Register{% endblock %}

{% block extra_js %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("login-button").onclick = function() {
                window.location.href = "{% url 'authentication:login' %}";
            };
        });
    </script>
{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/login-style.css' %}">
{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form method="post" action="{% url 'authentication:register' %}">
        {% csrf_token %}
        
            <div class="form-group">
                {% for field in form %}
                    {% if field.label != "Is primary user" %}
                        <label class="field-label">{{ field.label }}: {{ field }}</label>
                    {% endif %}
                {% endfor %}
            </div>

        {% if form.errors %}
            <ul class="error-messages">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li class="error">{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </div>
        {% endif %}

        {% if not users %}
            <p>Since this is the first user to be registered, it will be registered as the primary user with full access permissions.</p>
            <p>Subsequent users will be added as secondary ones with limited access rights.</p>
        {% endif %}

        <button type="submit">Register</button>
    </form>
    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}
    <p>Already have an account?</p><button id="login-button">Log in</button>
{% endblock %}