{% extends "dashboard/navbar-and-sidebar-base.html" %}

{% block title %}Register{% endblock %}

{% block header-title %}Register{% endblock %}

{% block extra_js %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("login-button").onclick = function() {
                window.location.href = "{% url 'authentication:login' %}";
            };
        });
    </script>
{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/login-style.css' %}">
{% endblock %}

{% block content %}
    <div class="form-content">
        <form method="post" action="{% url 'authentication:register' %}">
            {% csrf_token %}


            {% if form.errors %}
                <h3>Alert:</h3>
                <ul class="error-messages" style="color: red">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li class="error">{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            
            <div class="form-group" style="color: black">
                {% for field in form %}
                    {% if field.label != "Is primary user" %}
                        <label class="field-label">{{ field.label }}: {{ field }}</label>
                    {% endif %}
                {% endfor %}
                {% if users %}
                    <label class="field-label">Invite code: </label><input type="text" name="invite-code" id="invite-code">
                {% endif %}
            </div>

            {% if not users %}
                <p>Since this is the first user to be registered, it will be registered as the primary user with full access permissions.</p>
                <p>Subsequent users will be added as secondary ones with limited access rights.</p>
            {% endif %}

            <button class="submit-button" type="submit">Register</button>
        </form>

        <p style="color: black">Already have an account?</p><button class="submit-button" id="login-button">Log in</button>
    </div>
    
{% endblock %}