<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
    <script src="{% static 'dashboard/script.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("incomes-button").onclick = function() {
                window.location.href = "{% url 'finance:income' %}";
            };

            document.getElementById("expenses-button").onclick = function() {
                window.location.href = "{% url 'finance:expenses' %}";
            };

            document.getElementById("budgets-button").onclick = function() {
                window.location.href = "{% url 'finance:budgets' %}";
            };
        });
    </script>
</head>
<body>
    <div class="header">
        <ul class="header-left-side">
            <li>
                <button id="open-sidebar">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <rect y="3" width="20" height="2" fill="#fff"/>
                        <rect y="9" width="20" height="2" fill="#fff"/>
                        <rect y="15" width="20" height="2" fill="#fff"/>
                    </svg>
                </button>
                <div id="sidebar" class="sidebar">
                    <ul class="sidebar-list">
                        <li><a href="javascript:void(0)" id="close-sidebar">&times;</a></li>
                        <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'finance:income' %}">Income</a></li>
                        <li><a href="{% url 'finance:expenses' %}">Expenses</a></li>
                        <li><a href="{% url 'finance:budgets' %}">Budgets</a></li>
                    </ul>
                </div>
            </li>
            <li>Finance app</li>
            <li>•</li>
            <li>Dashboard</li>
        </ul>
        <ul class="header-right-side">
            <li>
                [User]
            </li>
            <li>
                <button class="header-log-out">Log out</button>
            </li>
        </ul>
    </div>

    <div class="welcome">
        {% if user %}
            <h2>Welcome, {{ user.user_username }}.</h2>
        {% else %}
            <h2>Welcome.</h2>
        {% endif %}
    </div>

    <div class="net-income-info">
        <div class="left-side">
            <h3>For the month of {{ current_month }}:</h3>
            <h4>Total income: £{{ current_month_income_total }}</h4>
            <h4>Total expenses: £ {{ current_month_expenses_total }}</h4>
            <h4>Net income: £ {{ current_month_net_income }}</h4>
        </div>

        <div class="right-side">
            <h3>For the year of {{ current_year }}:</h3>
            <h4>Total income: £{{ current_year_income_total }}</h4>
            <h4>Total expenses: £ {{ current_year_expenses_total }}</h4>
            <h4>Net income: £ {{ current_year_net_income }}</h4>
        </div>
    </div>

    <div class="option-cards-group">
        <ul>
            <li class="option-card incomes-card">
                <div class="incomes-top">
                    <div class="card-heading">Income</div>
                    <div class="card-body">Add any income that you receive.</div>
                </div>
                
                <div class="incomes-bottom">
                    <button id="incomes-button" class="card-button">Go</button>
                </div>
            </li>

            <li class="option-card expenses-card">
                <div class="expenses-top">
                    <div class="card-heading">Expense</div>
                    <div class="card-body">Add any expenses that you have.</div>
                </div>
                
                <div class="expenses-bottom">
                    <button id="expenses-button" class="card-button">Go</button>
                </div>
            </li>

            <li class="option-card budgets-card">
                <div class="budgets-top">
                    <div class="card-heading">Budget</div>
                    <div class="card-body">Create budgets to help track and manage your spending.</div>
                </div>
                
                <div class="budgets-bottom">
                    <button id="budgets-button" class="card-button">Go</button>
                </div>
            </li>
        </ul>
    </div>

</body>
</html>